<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>20191029</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>co.micol.common.TestServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ArrayTest</servlet-name>
		<servlet-class>co.micol.common.ArrayTest</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ArrayTest</servlet-name>
		<url-pattern>/Array.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ParamTest</servlet-name>
		<servlet-class>co.micol.common.ParamTest</servlet-class>
		<init-param>
		<param-name>id</param-name>
		<param-value>hong</param-value>
		</init-param>
		
		<init-param>
			<param-name>pw</param-name>
			<param-value>12345</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>ParamTest</servlet-name>
		<url-pattern>/ll</url-pattern>
	</servlet-mapping>
</web-app>